* {
    /* outline: 1px black solid; */
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

header{
    display: flex;
    flex-direction: row;
    height: 20%;
}

#year-display{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    width: 35%;
}

#month-display{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

main{
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 0.3fr repeat(6, 1fr);
    margin: 4% 10% 4% 10%;
}

main div{
    border: 1px solid black;
}

#add-event-button{
    border-radius: 50%;
    position: absolute;
    bottom: 6%;
    right: 4%;
    width: 50px;
    height: 50px;
}

h1{
    font-size: 80px;
}

h2{
    font-size: 60px;
}

h3{
    font-size: 40px;
}
/*______________________Formulario template*/
template.newEvent{
    margin: 0 auto;
   
    
}
div#eventContent{
    position:fixed;
   
    padding:  5% 33%;
    margin: 2% 5%;
    backdrop-filter: blur(10px);

}
h1.formName{
    text-align: center;
}
form{
    margin: 2%;
    border: 1px black solid;
    padding: 2%;
    display: flex;
    flex-direction: column;
}
form input{
    cursor: pointer;
    min-width: 5%;
}
form select{
    cursor: pointer;
    max-width: 600px;
    margin-bottom: 2%;
}
form textarea{
    cursor: pointer;
    max-width: 600px;
}
form label{
    cursor: pointer;
    min-width: 100px;
    margin-bottom: 2%;
}
form p{
    display: flex;
    flex-direction: row;
}