@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* mobile */

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}

header{
  display: flex;
  flex-direction: row;
  height: 20%;
}

#larrow {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

#rarrow {
  width: 22px;
  height: 22px;
  margin-left: 10px;
}

#year-display{
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

#barra {
  font-size: 60px;
  margin-left: 20px;
  margin-bottom: 65px;
  color: lightgrey;
}

#month-display{
  font-size: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
}

main{
  display: flex;
  background-color: white;
  box-shadow: 0px 0px 17px 6px rgb(235, 235, 235);
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 0.3fr repeat(6, 1fr);
  margin: 0% 10% 4% 10%;
  border: 6px solid;
  border-radius: 5px;
  margin-left: 35px;
  box-sizing: content-box;
  border: 1px ;
}

.week-day{
  text-align: center;
  color: #695eff;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 1px solid rgb(241, 241, 241);
  padding: 5%;
}

.grid-day{
  border: 1px solid rgb(245, 245, 245);
  border-bottom: 1px;
  color: black;
  font-weight: 700;
  font-size: 20px;
  padding: 10px 10px;
  overflow: auto;
  animation-name: showDay;
  animation-duration: 1s;
}

@keyframes showDay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hover-class:hover {
  border: 3px solid #695eff;
  border-radius: 4px;
}

h1{
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: 700;
}


h3{
  font-weight: 400;
  font-size: 25px;
  opacity: 70%;
  font-family: 'Montserrat', sans-serif;
}

#next-month:hover {
  transform: scale(1.1);
  transition: all 300ms;
  transform: translate(3);

}
#previous-month:hover {
  transform: scale(1.1);
  transition: all 300ms;
  transform: translate(3);
}

#add-event-button{
  border-radius: 100%;
  position: absolute;
  bottom: 3%;
  right: 4%;
  width: 50px;
  height: 50px;
  border: none;
  font-size: 40px;
  color: white;
  box-shadow: 0px 0px 17px 6px rgb(235, 235, 235);
  background-color: #695eff;
  margin: 30px;
  transition: all .2s ease-in-out;
}

#add-event-button:hover{
  transform: rotate(90deg);
}

.form-popup{
  overflow: hidding;
  box-sizing: content-box;
  display: none;
  z-index: 9;
  bottom: 0;
  right:15px;
}

.popup-inside{
  flex-grow: 3;
  max-width: 700px;
  padding: 5px;
}

#EventDate{
  background-color: white;
  backdrop-filter: blur(5px);
  width: 55%;
  position: absolute;
  margin: 10% 25%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 17px 6px rgb(235, 235, 235);
  border-radius: 5px;
  padding: 3% 3% 3% 3%;
  animation-name:widthSize;
  animation-duration: 0.3s;
  animation-timing-function: ease;
}

#EventDate div.enventTittle{
  width: 80%;
  height: 100px;
  border-bottom: none;
  padding-bottom: 20px;
  font-weight: bold;
}

#fondo{
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  z-index: 80;
  position: absolute;
  align-content: center;
  animation-name:backgroundAperars;
  animation-duration: 0.3s;
  animation-timing-function: ease;
}

@keyframes backgroundAperars {
  0% {opacity: 0;}

  100% {opacity: 1;}
}

@keyframes widthSize {
  0% {width:  2%;
      height: 2%;}

  50%{height: 50%;}

  100% {width: 50%;}
}

#eventContent{
  position:absolute;
  z-index: 0;
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100%;
}

.closeButton-box{
  margin-left: 95%;
}

#closeButton-shape{
  position:absolute;
  margin-bottom: 4px;
  color: #695eff;
  font-weight: bold;
  font-weight: 700;
  font-size: 20px;
  color: #695eff;
}

#closeButton-visual {
  margin-left: 95%;
  color: #695eff;
  font-weight: bold;
  font-weight: 700;
  font-size: 20px;
  color: #695eff;
}

form{
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 100;
  margin:  5% 33%;
  padding: 2% 2% 2% 2%;
  height: 700px;
  background-color: white;
  border-radius: 1.5%;
  box-shadow: 0px 0px 17px 6px rgb(235, 235, 235);
}

#cancel-button {
  float: right;
  padding: 3% 5% 3% 5%;
  margin-top: 20px;
  margin-right: 5px;
  font-weight: bold;
  font-size: 17px;
  color:white;
  border: 3px solid white;
  border-radius: 5px;
  background-color:  rgb(255, 70, 70);
}

#cancel-button:hover {
  background-color: rgb(255, 70, 70);
  border: 3px solid rgb(255, 70, 70);
  color: white;
}

#eliminate-button {
  float: right;
  padding: 2% 2% 2% 2%;
  margin-top: 20px;
  margin-right: 5px;
  width: 20%;
  margin-left: 78%;
  font-weight: bold;
  font-size: 17px;
  color:white;
  border: 3px solid white;
  border-radius: 5px;
  background-color:rgb(255, 70, 70);
}

#eliminate-button:hover {
  border: 3px solid rgb(255, 70, 70);
}

#create-button {
  float: right;
  padding: 3% 5% 3% 5%;
  margin-top: 20px;
  font-weight: bold;
  font-size: 17px;
  color: white;
  border: 3px solid white;
  border-radius: 5px;
  background-color:rgb(105, 94, 255);
}

#create-button:hover {
  background-color: rgb(105, 94, 255);
  border: 3px solid rgb(105, 94, 255);
  color: white;
}

.buttonStyles{
  position: relative;
  overflow: hidden;
  height: 250px;
  margin-bottom: 20px;
  
}

.buttonStyles label{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  font-weight: 700;
  bottom: 0%;
  border-bottom: 2px solid rgb(235, 235, 235);
  transition: 2s;
  pointer-events: none;
}

.buttonStyles input{
  cursor: pointer;
  min-width: 5%;
  border: none;
  padding-top: 20px;
  background-color: rgba(255,255,255,0);
  border-bottom: 1px solid lightgrey;
  width: 100%;
  height: 100%;
  outline: none;
}

.eventTittle-name{
  position: absolute;
  bottom: 5px;
  transition: 0.5s ease;
 
}

.buttonStyles label::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-2deg, rgb(105, 94, 255),  rgb(248, 247, 253) ,  rgb(255, 255, 255) );
  border-bottom: 1px solid rgb(105, 94, 255);
  left: 0%;
  bottom: 0%;
  transform: translateX(100%);
  transition: 0.5s ease;
  opacity: 0.3;
}

.checkoxStyles{
  margin-bottom: 20px;
}

form select{
  cursor: pointer;
  max-width: 600px;
  margin-bottom: 2%;
}

form textarea{
  cursor: pointer;
  max-width: 600px;
  resize: none;
}

form label{
  font-weight: 500;
}

#selctStyles {
  margin-top: 20px;
}

#new-event-specific {
  background-color: rgb(255, 70, 70);
  border: none;
  float: right;
  padding: 1% 4% 1% 4%;
  color: white;
  border-radius: 10%;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

div.buttonStyles input:focus + .label-name .eventTittle-name,
div.buttonStyles input:valid + .label-name .eventTittle-name{
  transform: translateY(-20px);
  color:rgb(105, 94, 255);
  font-size: 15px;
}

div.buttonStyles input:focus + .label-name::after,
div.buttonStyles input:valid + .label-name::after{
  transform: translateX(0%);
}

.event-box{
  display: flex;
  align-items: center;
  padding-left: 5px;
  margin: 7px 0px 0px 0px;
  max-width: 85px;
  font-size: 15px;
  background-color: black;
  border-radius: 2px;
  color:white;
}

.more-event-box{
  height: 0px;
  text-align: center;
  margin-top: -7px;
  font-size: 20px;
}
           /* MEDIA QUERYS */

  /* MOBILE */
@media screen and (max-width: 640px) {
  body {
    box-sizing: border-box;
  }

  .event-box{
    font-size: 7px;
    text-overflow: clip;
  }
/* 
  #eventContent{
    max-width: 640px;
    min-width: 200px;
  }  */
 
   #formEvent{
    font-size: 15px;

    min-width: 300px;
  } 

  form{
    animation-name:widthSize;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    z-index: 100;
    margin:  20% 5% 5%;
    padding: 2% 2% 2% 2%;
    height: 600px;
    background-color: white;
    box-sizing: content-box;
    border-radius: 1.5%;
    box-shadow: 0px 0px 17px 6px rgb(235, 235, 235);
  }

  #EventDate{
    margin: 15% 30%;
    min-width: 300px;
    min-height: 250px;
      background-color: white;
      backdrop-filter: blur(5px);
      width: 40%;
      height: 70%;
      position: absolute;
      margin: 10% 15%;
      z-index: 100;
      tex
  }
  
  #fondo {
  width: 150%;
  }


  div.week-day{
      overflow: hidden;
      text-overflow: ellipsis;
      min-height: 30px;
  }
  main{
    margin-top: 5%;
    min-width: 400px;
    margin-left: 10px;
  }

  #add-event-button{
    border-radius: 100%;
    position: relative;
    box-sizing: border-box;
    bottom: 3%;
    left: 1%;
    width: 50px;
    height: 50px;
    border: none;
    font-size: 40px;
    color: white;
    box-shadow: 0px 0px 17px 6px rgb(63, 48, 48);
    background-color: #695eff;
    margin: 30px;
    transition: all .2s ease-in-out;
  }

  #eliminate-button{
    width: 35%;
    margin-left: 68%;
  }

  #month-display{
    display: flex;
    max-width: 300px;
    flex-direction: column;
    margin-top: 20px;
  }

  .month{
    font-size: 25px;
    margin-top: 2px;
    margin-bottom: 2px;
    max-width: 300px;
    text-overflow: ellipsis;
  }


  #year-display{
      font-size: 20px;

  }
}

/* tablet screen */

@media screen and (min-width: 640px) and (max-width: 1280px) {
  body {
    background: red;
  }

  div.week-day{
    overflow: hidden;
    text-overflow: clip;
}
}

/* big screens */

@media screen and (min-width: 1280px) {
  body {
    background: green;
  }
}

@media (orientation: landscape) {
  
}