@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}

#larrow {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

.leave{
  color:rgb(255, 70, 70);
  font-size: 500px;

}

#rarrow {
  width: 22px;
  height: 22px;
  margin-left: 10px;
}

header{
  display: flex;
  flex-direction: row;
  height: 20%;
}

#year-display{
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

#barra {
  font-size: 60px;
  margin-left: 20px;
  margin-bottom: 65px;
  color: lightgrey;
}

#month-display{
  font-size: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
}

main{
  display: flex;
  background-color: white;
  box-shadow: 0px 0px 17px 6px rgb(235, 235, 235);
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 0.3fr repeat(6, 1fr);
  margin: 0% 10% 4% 10%;
  border: 6px solid;
  border-radius: 5px;
  margin-left: 35px;
  box-sizing: content-box;
  border: 1px ;
}

.week-day{
  text-align: center;
  color: #695eff;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 1px solid rgb(241, 241, 241);
  padding: 5%;
}

.grid-day{
  border: 1px solid rgb(245, 245, 245);
  border-bottom: 1px;
  color: black;
  font-weight: 700;
  font-size: 20px;
  padding: 10px 10px;
  overflow: auto;
  animation-name: showDay;
  animation-duration: 1s;
}

@keyframes showDay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.grid-day:hover{
  color: black;
}

.hover-class:hover {
  border: 3px solid #695eff;
  border-radius: 4px;
}

h3{
  font-weight: 400;
  font-size: 25px;
  opacity: 70%;
  font-family: 'Montserrat', sans-serif;
}

h4 {
  font-size: 20px;
}

#next-month:hover {
  transform: scale(1.4);
  transition: all 300ms;
  transform: translate(3);

}
#previous-month:hover {
  transform: scale(1.4);
  transition: all 300ms;
  transform: translate(3);

}
#previous-month:hover {
  transform: scale(1.4);
  transition: all 300ms;
  transform: translate(3)ñ

}

#add-event-button{
  border-radius: 100%;
  position: absolute;
  bottom: 3%;
  right: 4%;
  width: 50px;
  height: 50px;
  border: none;
  font-size: 40px;
  color: white;
  box-shadow: 0px 0px 17px 6px rgb(235, 235, 235);
  background-color: #695eff;
  margin: 30px;
  transition: all .2s ease-in-out;
}

#add-event-button:hover{
  transform: rotate(90deg);
}

.form-popup{
  overflow: hidding;
  box-sizing: content-box;
  display: none;
  z-index: 9;
  bottom: 0;
  right:15px;
}

.popup-inside{
  flex-grow: 3;
  max-width: 700px;
  padding: 5px;
}

div#EventDate{
  background-color: white;
  backdrop-filter: blur(5px);
  width: 50%;
  position: absolute;
  margin: 10% 25%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 17px 6px rgb(235, 235, 235);
  border-radius: 10px;
  padding: 3% 3% 3% 3%;
  animation-name:widthSize;
  animation-duration: 0.3s;
  animation-timing-function: ease;
}

.eventVisualContent {
  display: flex;
}

#inDate{
  width: 50%;
}

#fiDate {
  width: 50%;
}

.eventVisualType {
  display: flex;
}

#typeText {
  width: 50%;
}

#description {
  width: 50%;
}

.titleDataContent {
  background-color: rgb(245, 245, 245);
  max-width: 70%;
  padding: 4%;
  border-radius: 5%;
  display: flex;
}
.titleDataContent div {
  margin-left: 10px;
}

.titleDataTime {
  background-color: #695eff;
  max-width: 40%;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding: 3%;
  border-radius: 5px;
}

.titleDataTime h5{
  margin: 0;
}

div#EventDate div.enventTittle{
  width: 80%;
  height: 100px;
  border-bottom: none;
  padding-bottom: 20px;
  font-weight: bold;
}

div#fondo{
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  z-index: 80;
  position: absolute;
  align-content: center;
  animation-name:backgroundAperars;
  animation-duration: 0.3s;
  animation-timing-function: ease;
}

@keyframes backgroundAperars {
  0% {opacity: 0;}

  100% {opacity: 1;}
}

@keyframes widthSize {
  0% {width:  2%;
      height: 2%;}

  50%{height: 50%;}

  100% {width: 50%;}
}
/*______________________Formulario template*/
template.newEvent{
  margin: 0 auto;
}

div#eventContent{
  position:absolute;
  z-index: 0;
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100%;
}
/*_________boton cerrar*/
#close-button{
  visibility: hidden;
}

.closeButton-box{
  margin-left: 95%;
}

#closeButton-shape{
  position:absolute;
  margin-bottom: 4px;
  color: #695eff;
  font-weight: bold;
  font-weight: 700;
  font-size: 20px;
  color: #695eff;
}

#closeButton-visual {
  margin-left: 95%;
  color: #695eff;
  font-weight: bold;
  font-weight: 700;
  font-size: 20px;
  color: #695eff;
}

#close-button{
  background-color: white;
  border: none;
}
/*_____________________Inside form*/
h1.formName{
    text-align: left;
    font-size: 10px;
}

form{
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 100;
  margin:  5% 33%;
  padding: 2% 2% 2% 2%;
  height: 700px;
  background-color: white;
  border-radius: 1.5%;
  box-shadow: 0px 0px 17px 6px rgb(235, 235, 235);
}

#cancel-button {
  float: right;
  padding: 3% 5% 3% 5%;
  margin-top: 20px;
  margin-right: 5px;
  font-weight: bold;
  font-size: 17px;
  color:white;
  border: 3px solid white;
  border-radius: 5px;
  background-color:  rgb(255, 70, 70);
}

#cancel-button:hover {
  background-color: rgb(255, 70, 70);
  border: 3px solid rgb(255, 70, 70);
  color: white;
}

#eliminate-button {
  float: right;
  padding: 2% 2% 2% 2%;
  margin-top: 20px;
  margin-left: 70%;
  font-weight: bold;
  font-size: 17px;
  color:white;
  border: 3px solid white;
  border-radius: 5px;
  background-color:rgb(255, 70, 70);
}

#eliminate-button:hover {
  border: 3px solid rgb(255, 70, 70);
}

#create-button {
  float: right;
  padding: 3% 5% 3% 5%;
  margin-top: 20px;
  font-weight: bold;
  font-size: 17px;
  color: white;
  border: 3px solid white;
  border-radius: 5px;
  background-color:rgb(105, 94, 255);
}

#create-button:hover {
  background-color: rgb(105, 94, 255);
  border: 3px solid rgb(105, 94, 255);
  color: white;
}

div.buttonStyles{
  position: relative;
  overflow: hidden;
  height: 250px;
  margin-bottom: 20px;
  
}

div.buttonStyles label{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  font-weight: 700;
  bottom: 0%;
  border-bottom: 2px solid rgb(235, 235, 235);
  transition: 2s;
  pointer-events: none;
}

div.buttonStyles input{
  cursor: pointer;
  min-width: 5%;
  border: none;
  padding-top: 20px;
  background-color: rgba(255,255,255,0);
  border-bottom: 1px solid lightgrey;
  width: 100%;
  height: 100%;
  outline: none;
}

.eventTittle-name{
  position: absolute;
  bottom: 5px;
  transition: 0.5s ease;
 
}

div.buttonStyles label::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-2deg, rgb(105, 94, 255),  rgb(248, 247, 253) ,  rgb(255, 255, 255) );
  border-bottom: 1px solid rgb(105, 94, 255);
  left: 0%;
  bottom: 0%;
  transform: translateX(100%);
  transition: 0.5s ease;
  opacity: 0.3;
}

div.checkoxStyles{
  margin-bottom: 20px;
}

form select{
  cursor: pointer;
  max-width: 600px;
  margin-bottom: 2%;
}

form textarea{
  cursor: pointer;
  max-width: 600px;
  resize: none;
}

form label{
  font-weight: 500;
}

#selctStyles {
  margin-top: 20px;
}

#new-event-specific {
  background-color: rgb(255, 70, 70);
  border: none;
  float: right;
  padding: 1% 4% 1% 4%;
  color: white;
  border-radius: 10%;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
/*__________________Inputs animations*/
div.buttonStyles input:focus + .label-name .eventTittle-name,
div.buttonStyles input:valid + .label-name .eventTittle-name{
  transform: translateY(-20px);
  color:rgb(105, 94, 255);
  font-size: 15px;
}

div.buttonStyles input:focus + .label-name::after,
div.buttonStyles input:valid + .label-name::after{
transform: translateX(0%);

}

.event-box{
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 7px 0px 0px 0px;
  max-width: 85px;
  max-height: 20px;
  overflow: hidden;
  font-size: 15px;
  background-color: black;
  border-radius: 2px;
  color:white;
}

.more-event-box{
  height: 0px;
  text-align: center;
  margin-top: -7px;
  font-size: 20px;
}
